[SddmGreeterTheme]
Name=Hornero
Description=Hornero cinematic greeter with offline Argentine landscapes
Author=Ulises Jeremias (HorneroOS)
Copyright=(c) 2026 HorneroOS; based on aerial-sddm-theme (c) 2016 Fabio Almeida (CC-BY-SA)
License=CC-BY-SA
Type=sddm-theme
Version=0.1
Website=https://github.com/HorneroOS/greeter
Screenshot=screens/screenshot.png
MainScript=Main.qml
ConfigFile=theme.conf
Email=ulisescf.24@gmail.com
Theme-Id=hornero
Theme-API=2.0
QtVersion=6

